* {
  box-sizing: border-box;
  font-family: var(--main-font);
}

.nav-bar {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 25px;
  gap: 15px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-left img {
  width: 100px;
  height: auto;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.nav-items a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-items img {
  width: 25px;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .nav-items img {
    filter: invert(1);
  }
}
