.cpt-header {
  .nav-bar {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    background-color: var(--bg-accent);
  }
  .brand {
    display: flex;
    align-items: center;
    h1 {
      font-size: 2.8em;
      font-weight: 700;
    }
    img {
      width: 100px;
      height: auto;
    }
  }

  .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .nav-items {
    display: flex;
    gap: 1em;
    justify-content: end;
    
    a {
      display: flex;
      align-items: center;
      font-size: 1.1em;
      text-decoration: none;
      color: var(--text-main);
      font-weight: 500;
      img {
        width: 28px;
        height: auto;
      }
      @media (prefers-color-scheme: dark){
        img {
          filter: invert(1);
        }
      }
    }
  }
}
