* {
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left img {
    width:100px;
    height: auto;
}

.nav-drop-downs {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.explore-btn, 
.save-btn {
    position: relative;

    display: flex;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    
    padding: 8px;
    border-radius: 10px;
}

.explore-btn:hover, 
.save-btn:hover {
   background-color: rgb(243, 243, 243);
}

.down-arrow img {
    width: 15px;
    height: 15px;
    transition: transform 0.2s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.ebtn-dropMenu a,
.sbtn-dropMenu a {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;

    text-decoration: none;
    color: inherit;

    padding: 1%;
    border-radius: 10px;
    font-size: 1em
}

.ebtn-dropMenu img,
.sbtn-dropMenu img {
    width: 30px;
    height: 30px;
    padding: 3%;
    filter: brightness(0) invert(1);
    border-radius: 8px;
}

.ebtn-dropMenu ul,
.sbtn-dropMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    gap: 5px;
    margin-left: 5px;
    padding: 0;
}

.ebtn-dropMenu {
    display: flex;

    position: absolute;
    right: 100px;
    top: 80px;
    width: 200px;
    background-color: rgb(57, 99, 75);
    color: white;
    border-radius: 15px;
    
    box-shadow: 2px 2px 3px rgb(116, 116, 116);
    animation: slideIn 0.25s ease-out forwards;
}

.sbtn-dropMenu {
    display: flex;
    
    position: absolute;
    right: 10px;
    top: 80px;
    width: 200px;
    background-color: rgb(57, 99, 75);
    color: white;
    border-radius: 15px;
    
    box-shadow: 2px 2px 3px rgb(116, 116, 116);
    animation: slideIn 0.25s ease-out forwards;
}

.ntLink:hover, 
.bcrLink:hover,
.stLink:hover {
    background-color: rgb(6, 68, 6);
}

@keyframes slideIn {
    from {
        opacity:0;
        transform: translateY(-10px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}