* {
    font-family: var(--main-font);
    box-sizing: border-box;
}

#hike-container {
    margin-left: 25px;
}

.loading {
    margin-left: 25px;
}

@media (prefers-color-scheme: light) {


}

@media (prefers-color-scheme: dark) {

    #hike-container h3, 
    #hike-container p {
        color: white;
    }

}

@media screen and (min-width: 600px) {


}