#hike-container {
  margin-left: 25px;
  h2 {
    font-size: 2.5em;
    font-weight: bold;
  }
  @media screen and (min-width: 600px) {
    .title-map-container {
      margin-top: 1em;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      gap: 20px;
    }
  }
}

.loading {
  margin-left: 25px;
}
