.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  margin: 0 auto;
  margin-top: 1em;

  form {
    justify-content: center;
    align-items: center;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    border-color: var(--bg-accent);
    border-width: 4px;
    font-weight: bold;
  }

  /* Labels */
  label {
    flex-shrink: 0;
    font-size: 20px;
    align-items: center;
  }
  label:nth-of-type(1) {
    width: 60%;
  }
  label:nth-of-type(2) {
    width: 75%;
  }
  label:nth-of-type(3) {
    width: 100%;
  }

  /* Responsiveness */
  @media screen and (max-width: 550px) {
    label {
        flex-direction: column;
        padding-bottom: 16px;
    }
  }
}
