.cpt-btn {
  cursor: pointer;
  padding: 0.5em 1em;
  outline: 1px solid var(--ui-tertiary);
  border-radius: 4px;
  background-color: var(--ui-secondary);
  &:hover{
    outline: 2px solid var(--ui-tertiary);
    filter:brightness(0.8);
  }
  &.delete{
    background-color: var(--ui-error);
  }
}
